@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

/* dinner customization */
.dinner-custom {
  --header-bg-color: #ccc;
  --bg-image: url(https://w2.chabad.org/media/images/1335/yLoP13358484.jpg);
  --bg-image-mobile: url(https://w2.chabad.org/media/images/1336/seFN13366702.jpg);
  --button-bg-color: #f8e28f;
  --primary-font: "Libre Baskerville", sans-serif;
  --primary-text-color: #f8e28f;
  --primary-text-hover-color: #eed9be;
  --secondary-text-color: #fcf1d0;
  --article-title-color: #182a15;
  --button-bg-dark-color: #182a15;
    --button-dark-color: #2d2317;
}

#navigation li.parent a.parent:hover,
#navigation li.parent a.parent:hover + .sub_menu_toggle,
#navigation li.parent .sub_menu .item a:hover,
#navigation li.parent.selected a.parent,
.sub_menu .item a:hover {
  color: var(--primary-text-hover-color);
}

.section_root div#ContentBody .content-area-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.article-header,
.article-header__title,
.chabad_menu_content,
.read-more_link {
  text-align: center;
}

.read-more_link a {
  text-decoration: none;
  box-shadow: none;
  text-shadow: none;
  letter-spacing: 2px;
  display: inline-block;
  padding: 10px 24px;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.4s;
  background: var(--button-bg-color);
  font-family: var(--primary-font);
  letter-spacing: 0.3px;
  border: 2px solid var(--button-bg-color);
  border-radius: 5px;
  color: var(--button-dark-color);
}

.custom_message .title,
.read-more_link a,
[class="widget-"] {
  text-transform: uppercase;
}

div.chabad_left_column {
  width: 100%;
  float: none;
  margin: 0;
  min-height: 329px;
}

.cco_templateless_page div#chabad_body_content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.cco_templateless_template a {
  color: #fff;
  font-family: Montserrat, sans-serif;
  background-color: #7d7070;
  font-size: 15pt;
  padding-left: 50px;
  text-decoration: none;
  line-height: 40px;
  height: 40px;
}

.cco_templatelates_content {
  margin-bottom: 0;
}

.no_margin .g960 {
  float: none;
}

.cco_templateless_page #BodyContainer {
  text-align: center;
  width: 100%;
}
a.parent.arrow:hover {
  background: url(https://w2.chabad.org/images/shluchim/minisites/down_triangle_black.gif) right 5px
    center no-repeat;
}

.section_root #co_body_container {
  width: 100%;
    text-align: center;
}

div#chabad_main_content .cco_templateless_template {
  background-image: none;
  background-color: inherit;
}

.article-header__subtitle,
.article-header__title {
  color: #66635b;
  font-family: Montserrat, sans-serif;
}


div#chabad_head .chabad_navigator_bar {
  width: 100%;
  border: none;
  margin: 0;
  height: auto;
}
div#chabad_head .chabad_navigator_bar ul {
  display: inline-block;
}
div#chabad_head .chabad_navigator_bar ul li a {
  font-size: 16px;
  font-weight: 400;
  visibility: visible;
  line-height: 45px;
  margin-top: 0;
  color: #fff;
  font-family: var(--primary-font) !important;
  border-right: 2px solid #fff;
}
div#chabad_head .chabad_navigator_bar ul li ul li a {
  line-height: 28px;
  min-width: 140px;
}
div#chabad_head .chabad_navigator_bar ul li .sub_menu {
  top: 45px !important;
  text-align: left;
}
#navigation li.parent:last-child a.parent {
  border-right: 0 solid;
}
#navigation li.parent a.parent {
  transition: all 0.5s;
}
.arrow {
  transition: none !important;
}
.sub_menu .item a {
  border-right: 0 !important;
  max-width: 100% !important;
}
.large_banner {
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.bannerContainer a {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}

.wrap-image .bannerContainer img,
.wrap-image .statimg {
  opacity: 1;
  display: block;
  width: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.wrap-image .bannerContainer img {
  opacity: 1;
  display: block;
  width: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
}

.custom_message .title {
  font-size: 34pt;
  text-align: center;
}

.co_content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.large_bottom_margin {
  margin: 20px;
}
.g960 {
  margin: 0 auto;
}
body.mobile div#co_calendar {
  margin-bottom: 50px;
}

.mobile .footer_inner_container .back_to_top {
  left: 10px;
  bottom: 25px;
  width: 30px;
  height: 30px;
}
.mobile .footer_inner_container .back_to_top .arrow {
  margin: -3px -6px;
}

.sub_menu {
  visibility: visible;
}
div#chabad_head .chabad_navigator_bar ul li {
  color: #fff;
}

.article-header__title,
.read-more_link {
  text-align: center;
}

.large_banner.wrap-image {
  width: 100%;
}

div#chabad_main_content {
  width: 100%;
}
.article-header__title {
  font-size: 30px;
  color: #66635b;
  font-family: Montserrat, sans-serif;
}

.custom_message {
  margin-bottom: 50px;
}
.custom_message .message {
  font-size: 16pt;
  margin: 0 auto;
  text-align: center;
  padding: 0 25px;
}

.mobile div#chabad_head .chabad_navigator_bar ul li {
  background-color: inherit;
}

@media only screen and (max-width: 650px) {
  .cco_templateless_template a {
    padding-left: 0;
  }
  div.chabad_left_column {
    padding-top: 10px;
  }
  .chabad_header {
    background-image: none;
    height: 250px;
    display: block !important;
  }
  .chabad_header img {
    background-size: cover;
    background-position: center 0;
    background-attachment: inherit;
    height: 250px;
  }

  div#chabad_head .chabad_navigator_bar ul li a {
    border-right: none;
    line-height: 45px;
  }
  body.mobile #navigation.chabad_navigator_bar #menu {
    width: 100%;
    height: 45px;
  }
  body.mobile .g960.footer {
    padding: 10px;
  }

  .custom_message .title {
    font-size: 25pt;
  }
  .custom_message .message {
    width: 100%;
    font-size: 13pt;
    padding: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  body.mobile #navigation.chabad_navigator_bar #menu li:not(.heading) {
    padding: 0;
  }
  div#chabad_head .chabad_navigator_bar ul li a {
    border-right: 0 !important;
  }
  body.cco_templateless_page.mobile #navigation.chabad_navigator_bar #menu {
    margin-top: 10px;
    height: 45px;
    margin-bottom: 25px;
  }
  body.mobile .chabad_navigator_bar #menu .item.heading a {
    background: url("https://w2.chabad.org/images/shluchim/minisites/down_triangle_white.gif")
      no-repeat right center;
  }
  body.mobile .chabad_navigator_bar .sub_menu_toggle {
    background: url(https://w2.chabad.org/images/shluchim/minisites/down_triangle_white.gif)
      no-repeat center;
  }
  body.mobile div.chabad_navigator_bar #menu .sub_menu ul {
    border-left: 3px solid #fff;
  }
  body.mobile #navigation.chabad_navigator_bar #menu li:not(.heading) {
    padding-left: 0;
  }
  div#chabad_head .chabad_navigator_bar ul li ul li {
    min-height: 0;
  }
  body.mobile #navigation.chabad_navigator_bar #menu {
    width: 100%;
  }
  .cco_templateless_page #chabad_main_content {
    background-image: url(https://w2.chabad.org/images/Shluchim/minisites/themes/Generic_New/abstract2.jpg);
    background-size: contain;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .g960.footer {
    padding: 20px;
    width: 100%;
  }
  .arrow:hover {
    background: 0 0;
  }

  .custom_message .message {
    width: 100%;
  }
  .co_content {
    width: 100%;
  }
  .chabad_header {
    background-position: bottom center;
    background-attachment: inherit;
  }

  .cco_templateless_page .chabad_header,
  .chabad_header {
    background-blend-mode: screen;
    background-position: left bottom;
  }
}

.chabad_head {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-bg-color);
  height: 150px;
  width: 100%;
}

.chabad_header {
  padding: 10px 0;
}

.chabad_header img {
  width: 100%;
  max-width: 750px;
}

.header-containar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 20px;
  margin: 0 auto;
}

.chabad_navigator_bar ul li {
  font-size: 0;
}

div#chabad_head .chabad_navigator_bar ul li a {
  border-right: 0;
  padding: 30px 16px 30px;

  @media (max-width: 1290px) {
    padding: 30px 12px;
  }
}

#navigation.chabad_navigator_bar #menu {
  height: auto;
}

.cco_templateless_page #chabad_main_content {
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
}

.chabad_menu_content {
  display: flex;
  justify-content: flex-end;
}

#navigation.chabad_navigator_bar #menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.read-more_link {
  margin: 50px 0 0;
}
.read-more_link a:hover {
  background: transparent;
  color: var(--primary-text-color);
  text-decoration: none;
}

.custom_message {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  font-size: 23px;
}

.highlight {
  color: var(--secondary-text-color);
  font-size: 2.2rem;
  line-height: 32px;
}

.uppercase-text {
  text-transform: uppercase;
}

.med-heading {
  font-size: 30px;
  line-height: 144%;
}

.sm-heading {
  font-size: 16pt;

  @media (max-width: 650px) {
    font-size: 13pt;
  }
}

.event-detail {
  margin-bottom: 40px;
  line-height: 140%;
}

#navigation li.parent.selected a.parent,
div#chabad_head .chabad_navigator_bar ul li a {
  color: var(--primary-text-color);
  text-transform: uppercase;
  letter-spacing: 1px;
}

#navigation li.parent a.parent:hover,
#navigation item.parent a.parent:hover {
  color: var(--primary-text-hover-color);
  text-decoration: none !important;
}

@supports (text-shadow: 1px 0 0 #000) {
  .chabad_menu_content .navi .item.parent a.parent.selected {
    font-weight: 200;
    text-shadow: 1px 0 0 currentColor;
  }
}

body.mobile .g960.footer,
.g960.footer {
  display: none !important;
}

.gala-footer {
  color: #ffffff;
  padding: 60px 0 60px;
  font-family: var(--primary-font);
  font-size: 14px;
}

.gala-footer-container {
  margin: 0 auto;
  padding: 0 30px;
  padding-bottom: 0px;
  display: flex;
  justify-content: center;
  gap: 10%;
}

.gala-footer-container div {
  display: inline-block;
  vertical-align: top;
}

.logo-image img {
  float: left;
  max-height: 54px;
  padding-right: 10px;
}

.gala-footer .gala-footer-credits {
  text-align: center;
  font-size: 11px;
  padding: 0 20px;
}

.gala-footer .gala-footer-credits a {
  text-decoration: underline;
}

.gala-footer .right-cell {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.cco_templateless_template {
  overflow: hidden;
  margin-top: -30px;
}

@media screen and (min-width: 992px) {
  .page-tools-sidebar {
    display: none;
  }
}

.chabad_header {
  position: relative;
}

.chabad_header a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (max-width: 650px) {
  .cco_templateless_page #chabad_main_content {
    background-image: var(--bg-image-mobile);
  }
  .gala-footer-container {
    flex-direction: column;
    gap: 0;
    width: 100%;
  }
  .gala-footer .right-cell {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .location-cell {
    display: block !important;
  }
  .gala-footer-container div {
    padding-bottom: 10px;
    text-align: center;
  }
  .header-containar {
    flex-direction: column;
    gap: 0;
    width: 100%;
  }
  .chabad_header img {
    max-width: 100%;
  }
  .chabad_header,
  .chabad_header img {
    height: auto;
  }
  div#chabad_head .chabad_navigator_bar ul li a {
    padding: 0 16px;
  }
  #navigation.chabad_navigator_bar #menu {
    display: inline-block;
  }
  div#chabad_head .chabad_navigator_bar ul li a.parent {
    font-size: 14px;
  }
  .read-more_link {
    margin: 0;
  }
  .content_page {
    width: 100% !important;
    padding: 55px 20px 40px !important;
  }
  body.section_branch .bh {
    opacity: 0;
  }
  body.mobile div#chabad_body_content {
    padding: 0;
  }
  .header-containar:before {
    top: 5px !important;
    right: 5px !important;
  }
  .custom_message {
    margin-bottom: 0;
  }
  .logo-image img {
    padding-right: 0;
  }
  .med-heading {
    font-size: 23px;
  }
  .custom_message .block {
    display: block;
  }
}

body.mobile #menu li.item.parent {
  text-align: center;
}

body.mobile.section_root .bh {
  display: none;
}
.co_content_container {
  padding-top: 0px;
}

.header-containar:before {
  content: '\05D1"\05D4';
  text-align: right;
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 13px;
}

body.mobile .chabad_navigator_bar #menu .item.heading.expanded a {
  background: none !important;
}

body.mobile .chabad_navigator_bar #menu .item.heading.expanded a:before {
  content: "";
  position: absolute;
  background: url("https://w2.chabad.org/images/shluchim/minisites/down_triangle_white.gif")
    no-repeat center;
  right: 65px;
  top: 0;
  bottom: 0;
  width: 10%;
  animation: spin 0.3s;
  transform: rotate(180deg);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.section_branch #chabad_head,
.section_branch .gala-footer {
  background-image: var(--bg-image);
  background-size: cover;
}

.cco_templateless_page.section_branch #chabad_main_content {
  background-image: none;
}

.content_page {
  width: 945px;
  margin: 0 auto;
  padding: 70px 30px 50px;
}

.section_branch div.chabad_left_column {
  background: white;
}

.article-header {
  margin-bottom: 40px;
}

.article-header__title {
  /* text-align: left; */
  color: var(--article-title-color);
  font-size: 35px;
  font-family: "rufina", sans-serif !important;
  font-weight: 500;
  text-transform: uppercase;
}

.dinner-custom .content_page h2 {
  font-size: 24px;
  font-family: "rufina", sans-serif;
  font-weight: bold;
  color: #dac093;
  text-transform: uppercase;
  border-bottom: 2px solid #dac093;
  width: 40%;
  display: block;
  margin-bottom: 1.5rem;

  @media (max-width: 650px) {
    width: 100%;
  }
}
.dinner-custom .content_page p {
  line-height: 140%;
  font-size: 16px;
  font-family: "rufina", sans-serif;
  color: #333;
}

body.mobile div.chabad_left_column {
  margin-bottom: 0;
}

.userform-form label,
.userform-form div {
  font-family: var(--primary-font);
}

.form-header-group {
  margin: 0;
}

#id_23 .form-radio-item,
#id_15 .form-checkbox-item {
  padding-bottom: 10px;
}

#id_15 .form-checkbox-item label {
  font-weight: bold;
}

.userform-form .form-submit-button {
  background: var(--button-bg-dark-color);
  border-radius: 6px;
  box-shadow: none;
  text-shadow: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 12px 40px;
  font-size: 1.2em;
  position: relative;
  letter-spacing: 1px;
  font-family: var(--primary-font);
}

.userform-form .form-submit-button:hover {
  opacity: 90%;
}

.form-line input[type="checkbox"],
.form-line input[type="radio"] {
  top: 3px;
  position: relative;
}
