@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --primary-color: #764095;
  --primary-blue: #2d7ab7;
  --secondary-blue: #2d79b9;
  --primary-green: #5ac099;
  --primary-orange: #ef894f;
  --primary-purple: #c15ca3;
  --primary-font: "Inter", Helvetica, arial, helvetica, sans-serif;
  --secondary-font: Helvetica, arial, sans-serif;
}

.cco_templateless_page {
  --header-height: 173px;
}

body.section_branch .bh,
body.section_root .bh {
  display: block;
  top: 0;
  position: fixed;
  z-index: 9999;
  right: 0;
  padding: 10px;

  @media (max-width: 768px) {
    position: fixed;
  }
}

@media (max-width: 768px) {
  body.section_branch .co_body .article-body {
    width: 100%;
    padding: 0 10px;
  }
}

body.section_branch .co_body .article-body img {
  max-width: 100%;
}

body.section_branch .co_body #co_body_container {
  width: 1250px;
  @media (max-width: 1268px) and (min-width: 768px) {
    padding: 10px;
  }
  @media (max-width: 1268px) {
    width: 100%;
  }
}

body.section_branch footer,
body.section_branch .footer {
  background-color: #f8f8f8;
}

body.section_branch div#chabad_main_content {
  width: 100%;
  padding-top: var(--header-height);
}

body.section_root div#chabad_main_content {
  width: 100% !important;
}

.cco_templatelates_content {
  margin-bottom: 0;
}

.cco_templateless_template {
  overflow: hidden;
  margin-top: -30px;
}

.g960 {
  width: 100% !important;
  margin-left: 0 !important;
}
#BodyContainer {
  width: 100% !important;
}
.g960.footer {
  padding: 3rem 0 !important;
}
.content_page_full,
.content_page {
  margin-left: auto !important;
  margin-right: auto !important;
  float: none !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  color: #333;
}

.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

div#chabad_head .chabad_navigator_bar {
  ul {
    li {
      .sub_menu {
        @media (min-width: 768px) and (max-width: 1200px) {
          top: 56px;
        }
        @media (min-width: 768px) {
          background: #fff !important;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        }
      }
    }
  }
}

body.mobile .chabad_navigator_bar .chabad_menu_content li a {
  padding-left: 0 !important;
  padding-right: 5px !important;
}
.chabad_navigator_bar ul li a.arrow {
  padding-right: 0;
}
.chabad_navigator_bar ul li a.parent {
  font-weight: 500 !important;
  line-height: 25px;

  @media (min-width: 738px) and (max-width: 1200px) {
    max-width: 150px;
  }
}

#navigation.active.chabad_navigator_bar #menu {
  padding-right: 0;
  overflow: scroll;
  padding-top: 20px;
  background: white;
  padding-bottom: 20px;
}

#navigation.chabad_navigator_bar #menu {
  display: flex;
  justify-content: center;
  padding-right: 150px;
  align-items: center;
  height: auto;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
.sticky-top li.item.parent:last-child {
  background-color: var(--primary-blue);
  border-radius: 48px;
  position: absolute;
  right: 0;
  bottom: 0;

  @media (max-width: 768px) {
    position: inherit;
    width: 50%;
    margin: 0 auto;
    padding: 0 !important;
    margin-top: 20px;
  }

  a {
    color: #fff !important;
  }
}

@media (min-width: 768px) {
  .sticky-top .chabad_navigator_bar ul li a.arrow::after {
    content: "\f078";
    font-family: "Font Awesome 5 Pro", "Font Awesome 5 Brands";
    padding-left: 10px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0.8rem 1rem;
  }
}

.banner {
  height: 520px;
  width: 100%;
  position: relative;

  @media (max-width: 768px) {
    height: var(--header-height);
  }
  img {
    height: 520px;
    width: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease;
    &.active {
      opacity: 1;
    }

    @media (max-width: 768px) {
      height: inherit;
      width: 100%;
    }
  }
}

.header-inner-container {
  padding-top: var(--header-height);
  /* padding-top: 0; */
}

.header-title {
  display: none !important;
  text-align: center;
  color: #fff;
  max-width: 75%;
  margin: 0 auto;
  padding-top: 56px;
  z-index: 2;
  position: absolute;
  display: flex;

  flex-direction: column;

  h1 {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 60px;
    line-height: 1.2;

    @media screen and (max-width: 768px) {
      font-size: 30px;
    }
  }

  h4 {
    font-family: var(--secondary-font);
    font-size: 22px;
    font-weight: 300;
  }
}

.statement-container .button-container,
.contact-form input[type="Submit"],
.contact-text-content .button-container,
.faq-container .button-container,
.header-inner-container .button-container {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  align-items: center;

  a {
    border-radius: 48px;
    padding: 8px 40px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: var(--primary-font);
    letter-spacing: 0.071em;
    min-height: 56px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 999;
    position: absolute;

    @media screen and (max-width: 768px) {
      width: 75%;
    }
  }
}

.contact-form input[type="Submit"],
.contact-text-content .button-container,
.statement-container .button-container,
.faq-container .button-container {
  a:hover {
    background-color: rgb(31, 31, 31);
  }
}

.action-section .button-container,
.header-inner-container .button-container {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  font-family: var(--primary-font);
  a:hover {
    background-color: transparent;
    color: #fff;
  }
}

.action-section {
  padding: 100px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  gap: 2rem;
  background-color: var(--primary-purple);
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: 1268px) {
    flex-wrap: wrap;
  }

  @media (max-width: 768px) {
    padding: 50px 0;
  }

  @media screen and (max-width: 768px) {
    max-width: 100%;
    flex-direction: column;
  }
}

.header-inner-container .button-container {
  display: none !important;
  margin: 30px 0;

  @media screen and (max-width: 768px) {
    margin: 30px;
  }
}

.section {
  width: 30%;
  position: relative;
  padding: 0 0 50px;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  text-align: center;
  flex: 1 1 18%;

  a {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 20px;
    display: flex;
    flex-direction: column-reverse;

    @media (max-width: 1268px) and (min-width: 768px) {
      bottom: 0;
    }

    @media (max-width: 768px) {
      bottom: 0;
    }
  }

  @media screen and (max-width: 768px) {
    width: 90% !important;
    margin: 0 auto;
    background-position: center;
    background-size: auto;
    padding: 30px;
  }

  @media (max-width: 1268px) {
    width: auto;
  }
}

.section-header {
  font-size: 34px;
  text-align: center;

  padding: 0 20px;

  img {
    height: 125px;
  }
  h2 {
    font-size: 54px;
    font-weight: 600;
    margin-bottom: 50px;
    /* color: var(--primary-purple); */
  }
  h3 {
    font-size: 18pt !important;
  }
}

.green-text {
  color: var(--primary-green) !important;
  font-family: var(--primary-font) !important;
}

.purple-text {
  color: var(--primary-purple) !important;
}

.blue-text {
  color: var(--primary-blue);
}

.section.active .section-text {
  visibility: visible;
  height: 100%;
  transform: translateY(0);
  transition: transform 0.5s ease-out;
}

.action-section-bg.active,
.action-section-bg.active ~ .section.action-section-bg,
.action-section-bg:has(~ .section.active) {
  background-size: auto, cover !important;
}

@media screen and (max-width: 768px) {
  .action-section-bg.active ~ .section.action-section-bg,
  .action-section-bg:has(~ .section.active) {
    background-size: auto !important;
  }
}

.section-text {
  visibility: hidden;
  height: 0;
  transform: translateY(100%);
  transition: transform 0.5s ease-in;
  line-height: 1.25;
  font-weight: 300;
}

.statement-content,
.faq-container {
  max-width: 70%;
  margin: 0 auto;
}

.statement-container .row {
  display: grid;
  gap: 3rem;
  margin-bottom: 3rem;
  /* justify-content: space-around; */
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "image text";

  .text-column {
    grid-area: text;
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    &:nth-child(n + 2) {
      display: none;
    }
    &.show {
      display: block;
    }
    &:nth-child(n + 2) img {
      display: none;
    }
  }

  @media (min-width: 768px) {
    &:nth-child(even) {
      justify-content: flex-start;
      grid-template-areas: "text image";
    }
    .text-column {
      display: flex;
      justify-content: flex-start;
    }
  }
  .image-column img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}
.statement-container {
  margin: 50px auto;
  padding-bottom: 50px;
}

.statement-container .section-header {
  margin: 50px auto;
}

.statement-container .row:nth-child(3) {
  .image-column {
    justify-content: flex-start;
    height: 225px;
  }
}

@media (max-width: 768px) {
  .statement-container .image-column {
    height: auto !important;
  }
}

.statement-container .row:nth-child(even) {
  flex-direction: row-reverse;

  .image-column {
    justify-content: flex-start;
    height: 260px;
  }
}

.faq-container {
  padding: 50px 0;

  @media screen and (max-width: 768px) {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    padding: 0 20px;
  }
  .section-header {
    @media (max-width: 768px) {
      margin-top: 30px;
    }
  }
}
.image-container {
  img {
    width: 500px;
    border-radius: 8px;
    @media screen and (max-width: 768px) {
      display: none;
      width: 100%;
    }
  }
}
.text-container {
  display: flex;
  flex-direction: column;

  gap: 2rem;

  .header p {
    color: #000;
    margin: 0;
    display: flex;
    align-items: center;
  }

  h4 {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 55px;
  }

  p {
    font-size: 22px !important;
    font-family: var(--primary-font);
    font-weight: 300;
    color: rgb(94, 94, 94);
    line-height: 1.3 !important;
  }
}

.container h2 {
  padding-top: 0.3125rem;
  text-align: center;
  font-size: 4.2rem;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .container h2 {
    font-size: 2.3rem;
    padding-top: 1rem;
  }
}

.sticky-top {
  position: fixed;
  top: 0;
  z-index: 1020;
  background-color: white;
  transition: background 0.3s;
  height: var(--header-height);
  width: 100%;

  overflow: visible;

  justify-content: center;

  img {
    max-height: 110px;

    @media screen and (max-width: 768px) {
      max-height: 120px;
    }
  }

  .container {
    display: flex;
    align-items: center;
    height: inherit;

    overflow: visible;
  }

  &.scrolled-header {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
}

h1,
h2,
h3,
h4 {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

p {
  margin-bottom: 1rem;
  line-height: 1.3 !important;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

header {
  padding: 2rem 0;
  text-align: center;
  background-color: white;
  z-index: 1000;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  justify-content: flex-end;

  h2 a {
    text-decoration: none;
    color: #000;

    &:hover {
      cursor: pointer;
    }
  }
}

.logo {
  bottom: 46px;

  &.active-menu {
    z-index: 99;
    position: fixed;
    bottom: 100px;
    left: 0;
    right: 0;
  }
}

@media (min-width: 769px) {
  .logo {
    width: 158px;
    height: 110px;
  }
}

.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 0.5rem;
  z-index: 1001;
}

.burger-line {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 2px 0;
  transition: 0.3s;
  border-radius: 2px;
}
.burger-menu.active {
  top: 0;
  left: 30px;
}

.burger-menu.active .burger-line:nth-child(1) {
  transform: rotate(45deg) translate(4px, 3px);
}

.burger-menu.active .burger-line:nth-child(2) {
  opacity: 0;
}

.burger-menu.active .burger-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

@media (max-width: 768px) {
  .burger-menu {
    display: flex;
  }

  .header-content {
    justify-content: center;
    padding: 20px;
  }

  .logo {
    text-align: center;
  }

  header h1 {
    font-size: 1.5rem;
  }
}

#navigation {
  margin-top: 1.5rem;
  justify-self: flex-start;
}

body.mobile .footer-container #navigation {
  width: 100% !important;
}

@media (max-width: 768px) {
  #navigation .logo {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 150px;
  }
  #navigation .socials-container {
    position: fixed;
    bottom: 100px;
    left: 0;
    right: 0;
    width: 50% !important;
  }
}
.sticky-top .container li.item.parent:last-child {
  background-color: var(--primary-blue);
  border-radius: 48px;
  position: absolute;
  right: 0;
}

div#chabad_head .chabad_navigator_bar {
  width: 100%;
  height: auto;
}

.sticky-top .chabad_navigator_bar ul li:not(:last-child) {
  display: flex;
  align-items: center;
  padding: 0 16px;
}
.chabad_navigator_bar ul li {
  font-size: 0;

  @media (max-width: 1200px) and (min-width: 738px) {
    max-width: 150px;
  }
}

.footer-container .chabad_navigator_bar ul li {
  display: flex;
  flex-direction: column;
  line-height: 2;

  @media (max-width: 768px) {
    line-height: 30px;

    &.parent {
      padding: 0 13px;
    }
  }
}

.sticky-top.scrolled-header .chabad_navigator_bar ul li .sub_menu {
  display: flex;
  justify-content: center;
}

#navigation a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
  font-family: var(--primary-font) !important;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.071em;
  transition: color 0.2s;

  &:hover {
    opacity: 50%;
    cursor: pointer;
  }

  &.selected {
    font-weight: 600;
  }
}

body.mobile div#chabad_head .chabad_navigator_bar {
  width: 100%;
}

body.mobile #menu > li.item.parent:not(:first-child) {
  display: block;
}

body.mobile .chabad_navigator_bar #menu .item.heading {
  display: none;
}
body.mobile .chabad_navigator_bar .chabad_menu_content {
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
}

body.mobile .chabad_navigator_bar #menu .item.heading.expanded a,
body.mobile .chabad_navigator_bar .sub_menu_toggle.expanded {
  background: none;
  background-image: none;
}

body.mobile .chabad_navigator_bar .sub_menu_toggle {
  top: 17px;
  margin-left: 10px;
  background: none;
  background-image: none;

  &:before {
    content: "\f078";
    font-family: "FontAwesome";
    position: absolute;
    top: -2px;
    font-size: 18px;
  }

  &.expanded:before {
    content: "\f077";
    font-family: "FontAwesome";
  }
}

@media (max-width: 768px) {
  .sticky-top #navigation {
    max-height: 100vh;
    overflow: hidden;
    margin-top: 0;
    background-color: white;
    transform: translateX(-249vw);
    transition: transform 0.3s ease-in-out;
    padding: 1rem 0;
    height: 100vh;
    width: 100vw;
    background: white;
    min-height: 100vh;
    margin: 0;
    position: fixed;
    top: 0;
    padding-top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: none;
    overflow: visible;
  }

  #navigation.active .chabad_navigator_bar #menu {
    height: auto;
    z-index: 2;
    overflow: scroll;
  }

  .sticky-top #navigation li.parent {
    width: 75%;
    padding-right: 0;
  }
  body.mobile .chabad_navigator_bar .chabad_menu_content .sub_menu li {
    border-bottom-color: transparent;
  }
  #navigation li {
    width: 100%;
    position: relative;
    text-align: center;
    padding-left: 0px !important;

    &.parent {
      padding-left: 0 !important;
      text-align: center !important;
      width: 48%;
      display: flex;
      justify-content: center;

      padding-bottom: 15px;
    }
  }

  .sticky-top #navigation li.parent:last-child {
    border-bottom: none;
    width: 50%;
  }

  .footer-container #navigation li.parent:last-child {
    display: none !important;
  }

  .sticky-top .chabad_navigator_bar:not(.active) li.item.parent:last-child {
    position: fixed !important;
    top: 45px;
    right: 30px;
    width: 31% !important;
    align-items: center;
    height: auto;
    max-height: max-content;
  }

  #navigation a {
    font-size: 15px;
    border-bottom: none !important;
    top: -4px;
    z-index: 1 !important;
    min-width: 0 !important;

    &:hover {
      opacity: 1 !important;
      color: rgb(45 123 183);
    }
  }
}

.hero {
  position: relative;
  color: white;
  padding: 6rem 20px;
  text-align: center;
  overflow: hidden;

  .button-container {
    color: #000;
    border: 2px solid;
    padding: 10px 25px;
    border-radius: 48px;
    position: relative;
    font-family: var(--primary-font);
    text-decoration: none;

    &:hover {
      background-color: var(--primary-blue);
      color: #fff;
    }
  }
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://scontent-lga3-2.xx.fbcdn.net/v/t39.30808-6/489334153_3975351269347263_7072103475834563032_n.jpg?stp=cp6_dst-jpg_tt6&_nc_cat=105&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=EBDKlndIDNwQ7kNvwFZmfZc&_nc_oc=AdlVeIbzWugBQfezm9012PFPqM-he-tozhHAYgL3Hxg9cFNJ0URfcYrw2EIKJR2-_Gg&_nc_zt=23&_nc_ht=scontent-lga3-2.xx&_nc_gid=buNgXuX4i6cRKqq36eLEzQ&oh=00_AfRYHiwK0udWMUnujEfaAdRa4OjmC_ikKvgu5pEhwglorA&oe=68860EDF");
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  .hero-bg {
    background-attachment: inherit;
  }
}

.hero-content {
  position: relative;
  z-index: 10;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

@media (max-width: 768px) {
  .hero-content {
    padding: 0px;
    gap: 1rem;
  }
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #000;
  font-weight: 600;
  line-height: 1.2;
}

.hero h2 a:hover {
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 768px) {
  .hero h2 {
    font-size: 2.3rem;
  }
}

.hero p {
  font-family: var(--primary-font);
  font-size: 24px;
  color: var(--secondary-blue);
  font-weight: 400;
  font-weight: 300;
  line-height: 1.6 !important;

  @media (max-width: 768px) {
    line-height: 1.6 !important;
  }
}

.header-font {
  font-family: var(--primary-font);
  font-size: 35px;
  text-align: center;
  line-height: 1.5;

  @media (max-width: 768px) {
    font-size: 40px !important;
  }
}

#formBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media (max-width: 768px) {
  #formBody {
    width: 100%;
  }
}

.contact-form {
  background-color: #f6f6f6;
  padding: 50px 0 30px;

  .contact-form-inner-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    min-height: 500px;
  }
}

.contact-form h2 {
  color: #fff;
  font-family: var(--primary-font);
  text-align: center;
  font-size: 44px;
  font-weight: 600;
}

.contact-form .divider-line {
  border-bottom: 2px solid rgb(218, 218, 218);
  width: 100px;
  margin: 0 auto;
}

.contact-form input[type="text"],
.contact-form textarea {
  width: 100%;
  padding: 16px;
  font-family: "Open Sans", sans-serif;
  border: 0px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  min-height: 2.5rem;
  font-size: 16px;
  font-weight: 300;
  color: rgb(71, 71, 71);
}

.contact-form textarea {
  margin-top: 1rem;
}

.footer {
  min-height: 112px;
  padding: 3rem 0;
  color: #000;
  display: flex;
  justify-content: center;
  font-family: var(--primary-font);
  align-items: center;

  .footer-text {
    font-size: 14px;
    padding: 10px;
  }
}

.footer-grid {
  display: grid;
  gap: 2rem;
}

@media (min-width: 768px) {
  .footer-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer-heading {
  color: #065f46;
  margin-bottom: 1rem;
}

.footer-text {
  color: #6b7280;
}

.footer-links {
  display: flex;
  gap: 1rem;
}

.footer-links a {
  color: #065f46;
  text-decoration: none;
}

.footer-links a:hover {
  color: #059669;
}

.footer-bottom {
  border-top: 1px solid #e5e7eb;
  margin-top: 2rem;
  padding-top: 2rem;
  text-align: center;
  color: #9ca3af;
  font-size: 0.875rem;
}

h1.article-header__title.js-article-title.js-page-title {
  font-family: var(--primary-font);
  color: var(--primary-blue);
  text-transform: uppercase;

  @media (max-width: 768px) {
    padding: 0px 10px;
  }
}

#contact {
  position: relative;
  background: var(--primary-blue);
  padding: 4rem 0;
  overflow: hidden;
}

.contact-form-title-container {
  text-align: center;
  margin-bottom: 50px;
}

.divider-line {
  width: 80px;
  height: 3px;
  margin: 0 auto;
}

.contact-form-inner-container {
  display: flex;
  margin: 0 auto;
  position: relative;
}

.contact-image {
  flex: 0 0 45%;
  position: relative;
  z-index: 1;
}

.contact-image img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
}

.contact-content-container {
  flex: 1;
  position: relative;
  margin-right: 2rem;
  overflow: hidden;
  color: #000;
}

.contact-text-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition:
    transform 0.6s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.6s ease;
  color: black;
  z-index: 2;
}

.contact-text-content.slide-out {
  transform: translateX(100%);
  opacity: 0;
}

.contact-text-content h6 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #000;
}

.contact-text-content p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 2rem;
  opacity: 0.95;
  font-weight: 300;
}

.actions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 0;
  }
}

/* root styles */

body,
.form-checkbox-item label,
.form-grading-label,
.form-radio-item label,
.form-captcha INPUT,
.form-checkbox-other-input,
.form-radio-other-input,
.form-textarea,
.co_body .content .form-all .form-dropdown,
.form-textbox,
.co_body .content li,
.co_body body .form-all,
.co_body .content .form-all li,
body .co_body .content .form-all p {
  font-size: 14px !important;
  font-family: var(--primary-font) !important;
}

.section_branch .co_body h3 {
  color: var(--primary-blue);
  font-family: var(--primary-font);
}

/* header */
/* navigation */

.sticky-top .container > li.item {
  margin-right: 10px;
  list-style: none;
  position: absolute;
  right: 0;
}

/* hero banner */

/* text banner */

.text-banner {
  background: var(--primary-orange);
  padding: 3rem;

  .section-header {
    margin: 0 auto;
    max-width: 1250px;

    @media (max-width: 1268px) {
      width: 100%;
    }
  }

  h3 {
    color: #fff;
    line-height: 1.6;

    @media (max-width: 768px) {
      line-height: 1.3;
    }
  }
}

/* text section */
/* action section */
/* statement section */

.statement-content p {
  font-size: 24px;
  font-weight: 300;
  font-family: var(--primary-font);
  margin-top: 0;
  line-height: 1.6 !important;

  @media (min-width: 768px) {
    width: 100%;
    flex: 1;
    display: flex;
    padding: 0;
    margin: 0;
    max-width: 489px;
  }
  @media (max-width: 768px) {
    margin-bottom: 0 !important;
  }
}

.statement-container .image-column {
  height: 300px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  grid-area: image;
}

@media (max-width: 768px) {
  .statement-container .button-container {
    margin-top: 5rem !important;

    a {
      color: #fff;
      border: 2px solid;

      &:after {
        content: "\f078";
        font-family: "Font Awesome 5 Pro", "Font Awesome 5 Brands";
        width: 30px;
        text-align: center;
        transform: rotate(0deg);
        transition: transform 0.5s ease;
      }
    }
    &.expanded a:after {
      transform: rotateX(180deg);
    }
  }
}

/* photos section */

.recent-photos {
  background-color: var(--primary-green);
  padding: 50px;
}

.recent-photos h2 {
  color: #fff !important;
  margin-bottom: 20px;
}

.recent-photos .co_photo_gallery {
  display: flex;
  padding: 20px 0 20px;
  gap: 2rem;

  img {
    height: auto;
    max-width: 100%;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.co_photo_gallery_head {
  display: none;
}

.co_photo_gallery_footer {
  display: flex;
  justify-content: center;

  a {
    border: 2px solid;
    padding: 10px 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 48px;
    text-transform: capitalize;
    font-family: var(--primary-font);

    &:hover {
      background-color: var(--primary-blue);
      color: #fff;
      border-color: var(--primary-blue);
      text-decoration: none;
    }
  }
}

/* accordion section */

.faq-content {
  display: flex;
  gap: 6rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 0;
    margin: 30px 0;
  }
}
.accordion .item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  cursor: pointer;
  flex-direction: column;
}

.accordion .item:not(:last-child) {
  position: relative;
}

.accordion .item:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 70px;
  right: 70px;
  height: 1px;
  background: var(--primary-green);
}
.accordion .arrow-container {
  width: 50px;
  height: 50px;
  background: var(--primary-orange);
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion .arrow-container::after {
  content: "\f078";
  font-family: "Font Awesome 5 Pro", "Font Awesome 5 Brands";
  width: 50px;
  text-align: center;
  transform: rotate(0deg);
  transition: transform 0.5s ease;
  color: #fff;
}

.accordion .item.active .arrow-container::after {
  transform: rotateX(180deg);
}

.accordion .header {
  display: flex;
  gap: 2rem;
}

.accordion .content {
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  transform: translateY(-10px);
  transition:
    transform 0.5s ease,
    max-height 0.5s ease;
}

.item.active .content p {
  font-size: 20px !important;
  color: var(--primary-blue);
}
.item.active .content {
  visibility: visible;
  max-height: 0;
  transform: translateY(0);
  padding-left: 70px;
  margin-bottom: 2rem;

  @media (max-width: 768px) {
    padding: 0;
  }
}

/* contact form */

.contact-text-content .button-container {
  justify-content: flex-start;
  a {
    background-color: #000 !important;
    color: #fff !important;
  }
}

.contact-form input[type="Submit"] {
  border-radius: 48px;
  padding: 8px 40px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: var(--secondary-font);
  letter-spacing: 0.071em;
  min-height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  background-color: #000;
  color: #fff;

  &:hover {
    background-color: rgb(31, 31, 31);
  }
}

.contact-form-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 2rem;

  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 3;

  &.slide-in {
    transform: translateX(0);
  }
}

.contact-form-image-container {
  display: flex;
  width: 80%;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
    width: 100%;
    padding: 0 20px;
  }
}

.contact-form-container form {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.form-header h3 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.form-header p {
  color: #666;
  font-size: 1rem;
}

.contact-row {
  display: flex;
  width: 100%;
  gap: 1rem;
  margin-bottom: 1rem;

  @media screen and (max-width: 768px) {
    margin-bottom: 0;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.contact-row input {
  flex: 1;
}

textarea {
  resize: vertical;
  min-height: 120px;
}

.ccoFormFooter {
  margin-top: 1rem;
  text-align: center;
}

#hideContact {
  background: transparent;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  cursor: pointer;
  display: inline-block;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .contact-form-inner-container {
    flex-direction: column;
    width: 100% !important;
    padding: 0;
  }

  .contact-image {
    display: none;
    height: 200px;
    margin-bottom: 2rem;
  }

  .contact-content-container {
    margin-right: 0;
    min-height: 300px;
  }

  .contact-content-container:has(.contact-form-container.slide-in) {
    min-height: 525px !important;
  }

  .contact-text-content {
    padding: 0;
  }

  .contact-form-container {
    padding: 0;
  }

  .contact-row {
    flex-direction: column;
    gap: 0;
  }

  .contact-row input {
    margin-bottom: 1rem;
  }

  input[type="submit"],
  #hideContact {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
  }
}

.ccoFormFooter p {
  display: block;
}

/* footer */

footer .chabad_navigator_bar ul li a.parent {
  font-weight: 500 !important;
  display: flex;
}

footer .right-column img {
  width: 150px;
}

footer .right-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}

footer .right-column li.item {
  display: flex !important;
  width: 100%;
  justify-content: center;
}

.socials-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  @media (max-width: 768px) {
    width: 75%;
  }

  .social-link {
    font-size: 40px;

    &:hover {
      cursor: pointer;
    }
  }
  .facebook:after {
    content: "\f39e";
    font-family: "Font Awesome 5 Pro", "Font Awesome 5 Brands";
  }
  .instagram:after {
    content: "\f16d";
    font-family: "Font Awesome 5 Pro", "Font Awesome 5 Brands";
  }
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;

  @media (max-width: 1200px) and (min-width: 768px) {
    width: 100%;
  }

  @media (max-width: 1200px) {
    min-width: 1250px;
  }

  @media (max-width: 768px) {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    gap: 5rem;
  }
}

footer #navigation.chabad_navigator_bar #menu {
  display: block;
  justify-content: center;
}

footer .sub_menu {
  height: auto !important;
}

footer .sub_menu ul {
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  footer #navigation.chabad_navigator_bar #menu {
    display: flex;
    padding-right: 0;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  footer #navigation a {
    display: block;
    text-align: left;

    &.sub_menu_toggle {
      display: none;
    }
  }
  footer .sub_menu {
    padding: 0 !important;
  }
  footer .sub_menu ul {
    border-left: 0 !important;
  }
  footer .sub_menu li {
    padding-left: 0 !important;
  }
  footer .sub_menu a {
    font-weight: 200 !important;
    padding: 0 !important;
  }
  footer .right-column li.item a {
    width: 50%;
  }
}

/* nested pages */

.article_index.co_index {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1268px) {
    padding: 0 10px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .item .title a {
    color: var(--primary-blue) !important;
  }
}

.form-submit-button {
  background-color: var(--primary-blue);
  color: #fff;
  border-color: var(--primary-blue);
}

.co_body .below-article__title {
  color: var(--primary-blue);
  border-bottom-color: var(--primary-green);
}

.co_body .content .small-links__item a,
.co_body .small-links__item a {
  color: var(--primary-blue);
}

.co_body .content-footer {
  width: 50%;

  @media (max-width: 768px) {
    width: 100%;
  }
  )
  .bs-row {
    flex-direction: column;
  }
}
.small-links--orange li:before {
  background-color: var(--primary-green);
  margin: 0;
}

/* elements */

/* register button */

.statement-container .button-container,
.faq-container .right-column .button-container {
  margin-top: 10rem;

  a {
    color: #fff;
    background-color: var(--primary-blue);
  }
}

.sticky-top .container,
footer .right-column {
  li.item.parent:last-of-type {
    right: 0;

    a {
      color: #fff;
      text-decoration: none;
      font-size: 14px;
      font-family: var(--primary-font) !important;
      font-weight: 300;
      line-height: 36px;
      text-transform: uppercase;
      letter-spacing: 0.071em;
      transition: color 0.2s;

      top: 0 !important;
      left: 0;
      right: 0;
      bottom: 0;

      background-color: var(--primary-blue);
      border-radius: 48px;
      display: flex;
      justify-content: center;
      padding: 0px 32px;

      &:hover {
        background-color: #000;
        color: #fff;
        opacity: 100% !important;
      }
    }
  }
}

/* page tools */
.page-tools-sidebar {
  top: 200px !important;
  display: none;
}

@media screen and (min-width: 992px) {
  .page-tools .fa.fa-print,
  .page-tools__tool .fa-whatsapp,
  .page-tools__tool .fa-facebook,
  .page-tools__tool .fa-twitter,
  .page-tools__tool .fa-envelope {
    color: var(--primary-color);
  }

  .page-tools__tool {
    padding: 0.3em 0;
  }

  .page-tools .fa {
    font-size: 1em;
  }

  aside.page-tools-sidebar.js-page-tools-sidebar.hide_for_print {
    width: 3em;
  }
}
